<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="admin-login.css" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body id="body">
    <div id="login-card" class="card">
      <div class="card-body">
        <h2 class="text-center">Admin Login</h2>
        <br />
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter email"
            name="email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            id="email"
            placeholder="Enter password"
            name="pswd"
          />
        </div>
        <button
          type="submit"
          id="button"
          class="btn btn-primary deep-purple btn-block"
        >
          Submit
        </button>
        <br />
        <br />
      </div>
    </div>
  </body>
</html>
